.brandlogo {
   display:none;
}

.pagetitle {
   display:none;
}

.welcome {
   display:none;
}

.pageheader {
   background-color: #ffffff;
   background: #ffffff none;
}

.hilitetablerow {
   background-color: lightyellow;
   cursor: crosshair;
}

.divisionwinner_table0-1 {
   align: center;
   margin-left: auto;
   margin-right: auto;
}

.wildcardwinner_table0-1 {
   align: center;
   margin-left: auto;
   margin-right: auto;
}

.nonplayoffteam_table0-1 {
   align: center;
   margin-left: auto;
   margin-right: auto;
}

#top_performers caption {
    display : none;
}

#top_fa caption {
    display : none;
}

.franchiseicon {
height: 100px;
width: 100px;
}

/*
input[name="demote0001"] {
   display: none;
   content: "Contact Commish.";
}
*/